<div class="t-cart-vat-relief mb-4 mb-md-0" data-accordion data-accordion-multiple="false">
    <button class="t-cart-vat-relief__toggle d-md-none" id="vat-relief-toggle" type="button" aria-controls="vat-relief-content" aria-expanded="false" data-accordion-toggle>
        <span>{{ section.settings.vat_relief_heading | escape }}</span>
        <svg class="plus" aria-hidden="true" role="presentation">
            <use xlink:href="#sprite-plus"></use>
        </svg>
        <svg class="minus" aria-hidden="true" role="presentation">
            <use xlink:href="#sprite-minus"></use>
        </svg>
    </button>
    <div class="t-cart-vat-relief__content" id="vat-relief-content" hidden="true">
        <div class="row align-items-md-baseline mb-6">
            <div class="col-md-6">
                <h2 class="text-24 text-blue-diane font-weight-semibold d-none d-md-block mb-0">{{ section.settings.vat_relief_heading | escape }}</h2>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <a href="{{ section.settings.vat_relief_link_url }}" class="text-14 text-blue-diane ml-md-auto" aria-label="{{ section.settings.vat_relief_link_accessibility | escape }}">{{ section.settings.vat_relief_link_text | escape }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                {{ section.settings.vat_relief_text_html }}
            </div>
            <div class="col-md-6">
                <form data-vat-relief-form novalidate>
                    <div class="c-form-field mb-8">
                        <label>{{- 'template.vat_relief.fields.name_label' | t -}}</label>
                        <input name="name" class="c-form-input" type="text" placeholder="{{- 'template.vat_relief.fields.name_placeholder' | t -}}" data-vat-relief-input autocomplete="off" title="{{ 'template.vat_relief.fields.name_input_title' | t }}" />
                        <div class="c-form-error mt-2" aria-live="assertive" role="alert" data-vat-relief-error hidden></div>
                    </div>
                    <div class="c-form-field mb-6">
                        <label>{{ 'template.vat_relief.fields.condition_label' | t }}</label>
                        <input name="condition" class="c-form-input" type="text" placeholder="{{- 'template.vat_relief.fields.condition_placeholder' | t -}}" data-vat-relief-input autocomplete="off" title="{{ 'template.vat_relief.fields.condition_input_title' | t }}" />
                        <div class="c-form-error mt-2" aria-live="assertive" role="alert" data-vat-relief-error hidden></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="c-btn" aria-label="{{- 'template.vat_relief.button_text' | t -}}" data-vat-relief-submit-btn>
                            {{- 'template.vat_relief.button_text' | t -}}
                        </button>
                    </div>

                    <p data-vat-relief-applied hidden class="t-cart-accordion__content__applied">
                        <svg class="t-cart-accordion__content__applied__icon" aria-hidden="true">
                            <use xlink:href="#sprite-check"></use>
                        </svg>
                        {{ 'template.vat_relief.applied_message' | t }}
                        <button type="button" class="c-btn" aria-label="{{- 'template.vat_relief.remove_button_text' | t -}}" data-vat-relief-remove-btn>
                            {{- 'template.vat_relief.remove_button_text' | t -}}
                        </button>
                    </p>
                </form>
            </div>
        </div>
        <div class="t-cart-vat-relief__footer">
            {{ section.settings.charity_text_html | replace: '<p', '<p class=\"mb-0\"' }}
        </div>
    </div>
</div>