{% liquid
    assign _form_options = _form_options | split: '</p>'
%}

{%- form 'contact', class: 'c-form c-form-alt', id: 'contact-form', aria-label: 'Contact form' -%}
    {%- if form.posted_successfully? -%}
        <p class="c-alert c-alert--success" role="alert">Your message was sent successfully.</p>
    {%- endif -%}
    {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}
    {%- if _form_options.size > 0 -%}
        <div class="c-form-field mb-6">
            <label for="subject">Enquiry</label>
            <select id="subject" name="contact[subject]" class="c-form-input" required>
                <option>{{- 'Select type of enquiry' | escape -}}</option>
                {%- for option in _form_options -%}
                    <option>{{- option -}}</option>
                {%- endfor -%}
            </select>
        </div>
    {%- endif -%}
    <div class="c-form-field mb-6">
        <label for="name">Name</label>
        <input class="c-form-input {% if show_errors == true and form.errors contains 'name' %} c-input--error{% endif %}" id="name" name="contact[name]" placeholder="Enter your full name" type="text"{%- if form.name -%} value="{{ form.name }}"{%- endif -%} required />
    </div>
    <div class="c-form-field mb-6">
        <label for="email">E-Mail Address</label>
        <input class="c-form-input {% if show_errors == true and form.errors contains 'email' %} c-input--error{% endif %}" id="email" name="contact[email]" placeholder="Enter your email address"  type="email" {%- if form.email -%} value="{{ form.email }}"{%- endif -%} required />
    </div>
    <div class="c-form-field mb-6">
        <label for="phone">Phone</label>
        <input class="c-form-input {% if show_errors == true and form.errors contains 'phone' %} c-input--error{% endif %}" id="phone" name="contact[phone]" placeholder="Enter your phone number"  type="number" {%- if form.phone -%} value="{{ form.phone }}"{%- endif -%}  />
    </div>
    <div class="c-form-field mb-6">
        <label for="organisation">Organisation</label>
        <input class="c-form-input {% if show_errors == true and form.errors contains 'organisation' %} c-input--error{% endif %}" id="organisation" name="contact[organisation]" placeholder="Enter your organisation" type="text"{%- if form.organisation -%} value="{{ form.organisation }}"{%- endif -%} />
    </div>
    <div class="c-form-field textarea mb-6">
        <label for="Message">How can we help?</label>
        <textarea class="c-form-input {% if show_errors == true and form.errors contains 'message' %} c-input--error{% endif %}" id="message" name="contact[body]" placeholder="Let us know how we can help you" required>
            {%- if form.body -%}
                {{- form.body -}}
            {%- endif -%}
        </textarea>
    </div>
    <div class="d-flex justify-content-sm-end">
        <button type="submit" class="c-form-contact-submit c-btn c-btn--blue">
            Send
        </button>
    </div>
{%- endform -%}