{% comment %}
    Section with image on the left hand side and text on the right hand side.
{% endcomment %}

<section class="bah-s11" data-section-id="{{ section.id }}">
<div class="container text-center text-lg-left">
  <div class="row justify-content-center align-items-center">
    <div class="bah-image col-12 col-lg-6">
     <img class="js-lazy" src="{{ section.settings.image | img_url: 'master' }}">      
    </div>     
    <div class="bah-text col-12 col-lg-6 text-elephant px-4 px-sm-10 px-md-16 px-lg-8 px-xl-16 px-xxl-40 py-10 py-lg-0">
	<div class="content-box">     
      <h2 class="text-26 text-lg-36 font-weight-semibold leading-tight text-elephant m-0 p-0">
		{{ section.settings.title }}
      </h2>
      <p class="my-8">
		{{ section.settings.description }}
      </p> 
{% if section.settings.btn_link != blank %}      
      <a class="c-btn-outline c-btn-outline--blue c-btn--3 mt-2" href="{{ section.settings.btn_link }}">
		{{ section.settings.btn_label }}
      </a>
{% endif %}      
    </div>  
    </div>  
  </div>
</div>
</section>

{% schema %}
{
  "name": "S11 - Image with Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Recommended size: 1920 x 1080px (Tips: Have the main-focus point centered in the image for the best responsiveness)"
    },
    {
      "type": "text",
      "id": "title",
	  "label": "Title",	
      "default": "Section Title Here"
    },   
    {
      "type": "textarea",
      "id": "description",
	  "label": "Description",	
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    },  
    {
      "type": "text",
      "id": "btn_label",
	  "label": "Button - Label",
      "default": "Learn more"
    }, 
    {
      "type": "url",
      "id": "btn_link",
	  "label": "Button - Link",
	  "info": "Add url to show button, leave url blank to hide button"
    } 
  ]
}
{% endschema %}