{% comment %}
    New collection hero template aligned with Matt design May/June 2022
	Jesper Ahlbom last edit - 27.5.22
{% endcomment %}

{%- liquid
    assign background_image = section.settings.image
    assign col_video_id = collection.metafields.new.col_video_id
    
-%}
{%- liquid
    assign image = background_image
    assign image_alt = image.alt | default: heading
    assign image_xs = image | img_url: 'x400'
    assign image_sm = image | img_url: 'x400'
    assign image_md = image | img_url: 'x400'
    assign image_lg = image | img_url: '960x482'
    assign image_xl = image | img_url: '1080x586'
    assign image_xxl = image | img_url: '995x586'
    assign image_xxxl = image | img_url: '1195x586'
    assign image_hd = image | img_url: '1360x586'
-%}
{%- if image != blank -%}
<section class="c-here-to-help mb-0 mb-lg-8 position-relative" data-section-id="{{ section.id }}">
    <div class="container site-padding">
        <div class="row align-items-center p-0 m-0 bg-elephant position-relative" style="border-radius: 10px;">
            <div class="col-12 col-xl-6 text-center text-xl-left p-0 my-2 my-xl-0 bg-elephant position-relative" style="min-height: 200px;">
                <div class="c-here-to-help__text-inner text-center text-lg-left text-white order-last">
                    <p class="text-uppercase tracking-widest mb-6">{{ section.settings.heading }}</p>
                    <h2 class="text-24 text-lg-32 mb-0 font-weight-normal">
                        {{ section.settings.content }}
                    </h2>       
                </div>
            </div>
            <div class="c-here-to-help-ja__image col-12 col-xl-6 p-0 order-first" style="">
                <picture class="s-product-video__picture js-lazy" data-iesrc="{{ image_xxxl | url }}"
                    style="max-height: 400px;" data-alt="{{ image_alt | escape }}" id="help-section">
                    <source srcset="{{ image_xs | url }}" media="(max-width: 575px)">
                    <source srcset="{{ image_sm | url }}" media="(max-width: 767px)">
                    <source srcset="{{ image_md | url }}" media="(max-width: 1023px)">
                    <source srcset="{{ image_lg | url }}" media="(max-width: 1279px)">
                    <source srcset="{{ image_xl | url }}" media="(max-width: 1439px)">
                    <source srcset="{{ image_xxl | url }}" media="(max-width: 1669px)">
                    <source srcset="{{ image_xxxl | url }}" media="(max-width: 1919px)">
                    <source srcset="{{ image_hd | url }}" media="(min-width: 1920px)">
                    {% comment %} <img alt="" /> {% endcomment %}
                </picture>
            </div>
        </div>
    </div>
</section>
{%- endif -%}

<style>




</style>  


{% schema %}
  {
    "name": "We're here to help",
    "settings": [
   {
       "type": "text",
       "id": "heading",
       "label": "Title",
       "default": "We're here to help"
   },
  {
      "type": "richtext",
      "id": "content",
      "label": "label",
      "default": "<p>Call us on 0330 127 1617 if you have any questions.</p>"
  },
 {
     "type": "image_picker",
     "id": "image",
     "label": "Image"
 }
   ]
}
{% endschema %}