{% comment %}
    The online needs assessments section template.
{% endcomment %}
<section aria-labelledby="page-title">
    {%-
        render 'page-header',
        image_mobile:           null,
        image_tablet:           null,
        image_desktop:          section.settings.hero_image,
        image_alt:              null,
        heading:                page.title,
        strapline:              null,
        page_content:           null,
        _add_header_element:    null,
        _image_store:           null,
    -%}

    <div class="container site-padding my-12 mt-lg-14 mb-lg-24">
        <div class="row justify-content-center justify-content-xl-between">
            {%- if page.content != blank -%}
                <div class="c-rte mb-12 mb-lg-14 col-lg-6">
                    {{- page.content -}}
                </div>
            {%- endif -%}

            <div class="col-md-8 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                <div class="c-page-form pt-lg-6">
                    {%- form 'contact', class: 'c-form c-form-alt', id: 'consultation-call-form', aria-label: 'Brochure Request form' -%}
                        <input type="hidden" name="contact[form]" value="Consultation Call Form">
                        {%- if form.posted_successfully? -%}
                            <p class="c-alert c-alert--success" role="alert">Your message was sent successfully.</p>
                        {%- endif -%}
                        {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}
                    {%- endform -%}
                    <div class="c-form-field mb-6">
                        <label class="white-bg" for="name">Name</label>
                        <input class="c-form-input {% if show_errors == true and form.errors contains 'name' %} c-input--error{% endif %}" id="name" name="contact[name]" placeholder="Enter your full name" type="text"{%- if form.name -%} value="{{ form.name }}"{%- endif -%} required />
                    </div>
                    <div class="c-form-field mb-6">
                        <label for="email">E-Mail Address</label>
                        <input class="c-form-input {% if show_errors == true and form.errors contains 'email' %} c-input--error{% endif %}" id="email" name="contact[email]" placeholder="Enter your email address"  type="email" {%- if form.email -%} value="{{ form.email }}"{%- endif -%} required />
                    </div>
                    <div class="c-form-field mb-6">
                        <label for="phone">Phone</label>
                        <input class="c-form-input {% if show_errors == true and form.errors contains 'phone' %} c-input--error{% endif %}" id="phone" name="contact[phone]" placeholder="Enter your phone number"  type="number" {%- if form.phone -%} value="{{ form.phone }}"{%- endif -%}  />
                    </div>
                    <div class="c-form-field mb-6">
                        <label for="date">Date</label>
                        <input type="datetime-local" class="c-form-input" id="start" name="trip-start" value="04-08-2021T00:00">
                    </div>
                    <div class="c-form-field textarea mb-6">
                        <label for="Message">Notes for your advisor</label>
                        <textarea class="c-form-input {% if show_errors == true and form.errors contains 'message' %} c-input--error{% endif %}" id="message" name="contact[body]" placeholder="Notes for your advisor" required>
                            {%- if form.body -%}
                                {{- form.body -}}
                            {%- endif -%}
                        </textarea>
                    </div>
                    <div class="d-flex justify-content-sm-end">
                        <button type="submit" class="c-form-contact-submit c-btn c-btn--blue">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Call Consultation Request",
    "settings": [
        {
            "type": "header",
            "content": "Hero Image"
        },
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        },
        {
            "type": "html",
            "id": "form_html",
            "label": "Form Embed code"
        }
    ]
}
{% endschema %}