{% comment %}
    The Recent Posts section template.

    TODO:
    - Add setting for selecting a "blog", using the value on line 14 to set the featured blog
    - Add setting for over-riding the "More Link", using the Featured Blog's URL as a fallback
    - Add a setting for over-riding the "More Text", using something like "View All {{ blog.name }}" as a fallback would suffice

    OPTIONAL
    - Add a setting for enabling/disabling the "More Link"
    - Add a setting for altering the background colour, using utility classes
    - Add a setting for changing the "limit", the number of articles. Use multiples of 3 to maintain design integrity on desktops
{% endcomment %}

{%- liquid
    assign more_url = section.settings.more_url
    assign more_text = section.settings.more_text
    assign article_limit = section.settings.article_limit | default: 3

    assign featuredBlogs = section.blocks | map: 'settings' | map: 'blog'
    for featuredBlog in featuredBlogs
        if blogs[featuredBlog].articles
            assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles
        endif
    endfor

-%}
{%- if featuredArticles.size > 0 -%}
    <section class="bg-athens-gray" data-section-type="recent-posts" data-section-id="{{ section.id }}">
        <div class="container site-padding py-16">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-10">
                    <div class="row align-items-md-center">
                        <div class="col-12 col-md-auto">
                            <h2 class="m-0 u-heading-md text-center text-lg-left text-elephant">
                                {{- section.settings.heading | escape -}}
                            </h2>
                        </div>
                        {%- if more_url -%}
                        <div class="d-none d-md-block col-md-auto ml-md-auto">
                            <a class="c-text-btn text-14" href="{{ more_url | url_escape }}" aria-label="{{ more_text | escape }}" title="{{ more_text | escape }}">
                                {{- more_text | escape -}}
                            </a>
                        </div>
                        {%- endif -%}
                    </div>
                    {%- if featuredArticles.size > 0 -%}
                        <div class="row mt-8 mb-n5 mx-n3">
                            {%- assign featuredArticles = featuredArticles | sort:'published_at' | reverse -%}
                            {%- for article in featuredArticles limit: article_limit -%}
                                <div class="col-12 col-md-6 col-lg-4 mb-5 px-3" data-block-id="{{ block.id }}" data-block-type="{{ block.type | handleize }}" {{ block.shopify_attributes }}>
                                    {%-
                                        render 'article-card',
                                        class: 'w-100 h-100',
                                        article: article,
                                        article_word_truncate_limit: article_word_truncate_limit
                                    -%}
                                </div>
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
                    <div class="row justify-content-center mt-8 d-md-none">
                        <div class="col-12 text-center">
                            <a class="c-btn-outline c-btn-outline--dark d-flex" href="{{ more_url | url_escape }}" aria-label="{{ more_text | escape }}" title="{{ more_text | escape }}">
                                {{- more_text | escape -}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%- endif -%}
{% schema %}
{
    "name": "Recent Posts",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Read our most recent articles"
        },
        {
            "type": "header",
            "content": "View More Link"
        },
        {
            "type": "text",
            "id": "more_text",
            "label": "Link text",
            "default": "View All Blogs & News"
        },
        {
            "type": "url",
            "id": "more_url",
            "label": "Link url",
            "info": "Leave url blank if you don't want to show the link"
        },
        {
            "type": "header",
            "content": "Blog Post Settings"
        },
        {
            "type": "range",
            "id": "article_limit",
            "min": 3,
            "max": 12,
            "step": 3,
            "label": "Article limit",
            "default": 3
        },
        {
            "type": "range",
            "id": "article_word_truncate_limit",
            "min": 15,
            "max": 45,
            "step": 3,
            "label": "Article word truncate limit",
            "default": 30
        }
    ],
    "blocks": [
        {
            "type": "blog",
            "name": "Blog",
            "settings": [
                {
                    "type": "blog",
                    "id": "blog",
                    "label": "Selected Blog"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Recent Posts",
            "category": "Homepage",
            "settings": {},
            "blocks": []
        }
    ]
}
{% endschema %}
