{% comment %}
	Our Advisers section for Virtual Showroom Page by 4PE.
{% endcomment %}

<section class="vs-adv py-8 pt-lg-16 pb-lg-20 text-white" data-section-id="{{ section.id }}"
    style="background-color: #F2F3F4;">
    <div class="container site-padding">
        <div class="row align-items-center justify-content-center justify-content-sm-between mb-6">
            <div class="col-12 col-sm-auto mb-0 text-center text-sm-left">
                {% if section.settings.heading != blank %}
                <h2 class="text-capitalize text-center font-weight-medium text-36 text-elephant mb-4 mb-sm-0">
                    {{- section.settings.heading | escape -}}
                </h2>
                {% endif %}
            </div>
            <div class="col-12 col-sm-auto ml-sm-auto">
                <div class="row justify-content-center mr-sm-auto mb-2 mb-sm-0">
                    <button type="button" class="s-testimonials__btn vs-adv-swiper-button-prev ml-4 mr-4">
                        <svg class="icon">
                            <use xlink:href="#sprite-chevron-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="s-testimonials__btn vs-adv-swiper-button-next">
                        <svg class="icon">
                            <use xlink:href="#sprite-chevron-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {%- if section.blocks.size > 0 -%}
    <div class="container site-padding">

        <!--  Desktop -->

        <div class="swiper-team vs-adv overflow-hidden d-none d-sm-block">
            <div class="swiper-wrapper site-padding no-gutters pl-0">
                {%- for block in section.blocks -%}
                <div class="swiper-slide d-flex row flex-nowrap text-left text-elephant p-0 m-0 mr-2 mr-lg-8"
                    id="adviser">
                    <div class="adviser-image p-0 mr-4">
                        {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'x150' }}" class=""
                            alt="{{ block.settings.title }}" />
                        {% endif %}
                    </div>
                    <div class="adviser-details align-self-end">
                        {% if block.settings.title != blank %}
                        <p class="text-20 text-lg-24 font-weight-semibold mb-0">{{- block.settings.title -}}</p>
                        {% endif %}
                        {% if block.settings.job_title != blank %}
                        <p class="text-12 font-weight-medium text-uppercase tracking-wide tracking-lg-wider mb-0"
                            style="color: #9ea8b0;">{{- block.settings.job_title -}}</p>
                        {% endif %}
                        {% if block.settings.job_description != blank %}
                        <p class="text-14 font-weight-normal mt-2 mb-0">{{- block.settings.job_description -}}</p>
                        {% endif %}
                    </div>
                </div>
                {%- endfor -%}
            </div>
        </div>

        <!--  Mobile  -->

        <div class="swiper-team vs-adv-mob overflow-hidden d-sm-none">
            <div class="swiper-wrapper site-padding no-gutters pl-0">
                {%- for block in section.blocks -%}
                <div class="swiper-slide d-flex row text-center text-elephant p-0 m-0" id="adviser">
                    <div class="adviser-image p-0 m-0 mb-6">
                        {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'x200' }}" class=""
                            alt="{{ block.settings.title }}" />
                        {% endif %}
                    </div>
                    <div class="adviser-details align-self-center">
                        {% if block.settings.title != blank %}
                        <p class="text-20 text-lg-24 font-weight-semibold mb-0">{{- block.settings.title -}}</p>
                        {% endif %}
                        {% if block.settings.job_title != blank %}
                        <p class="text-12 font-weight-medium text-uppercase tracking-wide tracking-lg-wider mb-0"
                            style="color: #9ea8b0;">{{- block.settings.job_title -}}</p>
                        {% endif %}
                        {% if block.settings.job_description != blank %}
                        <p class="text-14 font-weight-normal mt-2 mb-0 px-8">{{- block.settings.job_description -}}</p>
                        {% endif %}
                    </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
    {%- endif -%}
</section>

       <script>
      var swiper = new Swiper(".vs-adv", {
        slidesPerView: 1,
        spaceBetween: 20,
        breakpoints: {
            // when window width is >= 576px
            576: {
            slidesPerView: 2,
            spaceBetween: 25,
            },
            // when window width is >= 768px
            768: {
            slidesPerView: 2,
            spaceBetween: 50,
            },
            // when window width is >= 992px
            992: {
            slidesPerView: 2,
            spaceBetween: 50,
            },
            // when window width is >= 1200px
            1200: {
            slidesPerView: 3,
            spaceBetween: 100,
            },    
            // when window width is >= 1600px
            1600: {
            slidesPerView: 4,
            spaceBetween: 100,
            }               
        },
        navigation: {
          nextEl: ".vs-adv-swiper-button-next",
          prevEl: ".vs-adv-swiper-button-prev",
        },
      });
    </script>

       <script>
      var swiper = new Swiper(".vs-adv-mob", {
  centeredSlides: true,
        navigation: {
          nextEl: ".vs-adv-swiper-button-next",
          prevEl: ".vs-adv-swiper-button-prev",
        },
      });
    </script>

{% schema %}
{
    "name": "VS - Advisers",
    "settings": [
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Our Advisers"
        }
    ],
    "blocks": [
        {
            "type": "image-with-label",
            "name": "Image with Label",
            "settings": [  
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Recommendations: 800 x 800px (1:1 ratio)"
                },                                           
                {
                    "type": "text",
                    "id": "title",
                    "label": "Name",
					"default": "Advisers Name"
                },
                {
                    "type": "text",
                    "id": "job_title",
                    "label": "Title",
					"default": "Job Title"
                },
                {
                    "type": "textarea",
                    "id": "job_description",
                    "label": "Description"
                } 
            ]
        }
    ]
}
{% endschema %}