{% comment %}
    The Password template.
{% endcomment %}

{% layout 'password' %}

<div class="min-vh-100 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                {% if settings.theme_logo != blank %}
                    <div class="d-inline-block mb-5">
                        <img src="{{ settings.theme_logo | img_url: '512x' }}" alt="{{ shop.name | append: ' logo' }}" />
                    </div>
                {% else %}
                    <h1 class="mb-5">{{ shop.name }}</h1>
                {% endif %}

                <h2 class="mb-3">{{ 'template.password.title' | t }}</h2>
                <p class="mb-4">{{ 'template.password.description' | t }}</p>

                {%- assign form_aria_label = 'template.password.form_password_label' | t -%}
                {%- form 'storefront_password', class: 'mb-4', id: 'password-form', aria-label: form_aria_label -%}
                    {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}

                    <div class="mb-3">
                        <label for="password">{{ 'template.password.form_password_label' | t }}</label>
                        <input class="{% if show_errors == true and form.errors contains 'password' %} form-input--error{% endif %}" id="password" name="password" type="password" placeholder="{{ 'template.password.form_password_placeholder' | t }}" />
                    </div>

                    <button type="submit">{{- 'template.password.form_submit' | t -}}</button>
                {%- endform -%}

                <p>{{ 'template.password.admin_link_html' | t: text: 'Are you the store owner?', link_url: '/admin', link_text: 'Log in here' }}</p>
            </div>
        </div>
    </div>
</div>